.dark {
  --bg-color: #0f172a;
  --primary-color: #4ade80;
  --text-color: #fff;
  --shadow-color: rgba(0, 0, 0, 0.4);
  --bgs-color: #020617;

  background-color: var(--bg-color);
  color: var(--text-color);
}

.light {
  --bg-color: #e2e8f0;
  --shadow-color: rgba(71, 71, 71, 0.4);
  --text-color: #333;
  --primary-color: #0ea5e9;
  --bgs-color: #9ca3af;


  background-color: var(--bg-color);
  color: var(--text-color);
}
